html,
body {
  background-color: #f8f5f1;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Numans", sans-serif;
}
.custom-navbar {
  box-shadow: 10px 10px 10px #eee;
  background-color: #fff;
}
.nav-link {
  color: black !important;
  margin-right: 3rem;
}

.custom-toggler .navbar-toggler-icon {
  width: 18px !important;
}

.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#logo_custom {
  margin-top: -6px;
}
@media only screen and (max-width: 760px) {
  #logo_custom {
    width: 40%;
  }
}

.nav-brand {
  font-size: 6.5rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--Abel);
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: #fff;
}
.dropdown {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}
.dropdown-menu > li > a {
  color: #428bca;
}
.dropdown ul.dropdown-menu {
  border-radius: 4px;
  box-shadow: none;
  margin-top: 20px;
  width: 300px;
}
.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}
.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
}
.title-container {
  font-size: 3rem;
  padding: 10rem 5rem;
  margin-left: 15rem;
}

.user-name {
  padding: 0 4rem;
}
.fa-user-circle {
  padding-left: 2rem;
}
