<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DashBoard</title>

    <link rel="stylesheet" href="/static/css/dashboard.css" />
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css"
    rel="stylesheet"
  />
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md custom-navbar navbar-dark">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="nav-brand">Blogure</div>
     
    </nav>
    <h2 class="welcome">Welcome
        <span class="username">userame</span>
    </h2>
    <button type="button" class="btn btn-create" onclick="href.location=/templates/create.html">Write Blogs</button>
    <br><br><br>
    <div class="container">
    <div class="col-md-9">
      <div class="card">
          <div class="card-body">
              
              <div class="row">
                  <div class="col-md-12">
                    <table class="table-name" cellspacing="0px" style="width:1000px;margin-left: 170px;">
                      <tbody>
                          <tr>
                              <td><label for="name" class="col-4 col-form-label">First Name :</label> </td>
                              <td> <label for="name-disp disp-txt" class="col-4 col-form-label">first_name</label> </td>
                          </tr>
                          <tr>
                              <td><label for="lastname" class="col-4 col-form-label">Last Name :</label> </td>
                              <td> <label for="lastname-disp disp-txt" class="col-4 col-form-label">last_Name</label> </td>
                          </tr>
                          <tr>
                              <td><label for="dob" class="col-4 col-form-label">DOB :</label> </td>
                              <td> <label for="dob-disp disp-txt" class="col-4 col-form-label">dd/mm/yyyy</label> </td>
                          </tr>
                          <tr>
                              <td> <label for="email" class="col-4 col-form-label">Email :</label> </td>
                              <td><label for="email-disp disp-txt" class="col-4 col-form-label">Email</label> </td>
                          </tr>
                          <tr>
                              <td><label for="linkedIn" class="col-4 col-form-label">LinkedIN :</label>  </td>
                              <td> <label for="linkedIn-disp disp-txt" class="col-4 col-form-label">LinkedIN account link</label></td>
                          </tr>
                          <tr>
                              <td> <label for="github" class="col-4 col-form-label">Github :</label> </td>
                              <td> <label for="github-disp disp-txt" class="col-4 col-form-label">Github profile link</label></td>
                          </tr>
                          <tr>
                              <td> <label for="blogs" class="col-4 col-form-label">Blogs Published</label></td>
                              <td><label for="blogs-disp disp-txt" class="col-4 col-form-label">Blogs Published</label>  </td>
                          </tr>
                      </tbody>
                  </table>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</div>
  </body>
</html>
