<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogure</title>

    
    <!---------------------------Font File---------------------------->
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/all.css') }}">

    <!-------------------------CSS File-------------------------------->
    <link rel="stylesheet" href= "{{ url_for('static',filename='css/Styles.css') }}">
</head>
<body>
    
    <!------------------------Navigation bar---------------------------------------->
        <nav class="nav">
          <div class="nav-menu flex-row">
              <div class="nav-brand">
                  <a href="#" class="text-gray">Blogure</a>
              </div>
              <div class="social text-gray">
                  <a href="#"><i class="far fa-user-circle"></i></a>
              </div>
          </div>  
        </nav>
    <!----------x--------------Navigation bar-------------------x--------------------->
    <script  href= "{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>